div{
    text-align: center;
}

body{
    background-color: azure;
}
main{
    display: flex;
    align-items: center;
    
    justify-content: space-around;
}
button{
    align-self: auto;
    text-align: center;
    background-color:cornflowerblue;

}

.userimg
{
    border-radius: 50%;
}
.adminimg
{
    border-radius: 50%;
}

.link{
    text-decoration: underline;color: gold;
}

.logtext
{
    color: firebrick;
}
